In [38]:
import pandas as pd
import numpy as np

In [39]:
col_name = ['Sex','Length','Diameter','Height','Whole_weight','Sucked_weight','Viscera_weight','Shell_weight','Rings']

In [40]:
#reading the file and assigning Column Names
data = pd.read_csv(r'C:\Users\DELL 5570\Downloads\abalone.data',names=col_name)

In [41]:
data

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [42]:
#head(n) shows the top n records of the dataset by default n is 5
data.head(10)

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

In [43]:
#tail(n) shows the top n records of the dataset by default n is 5
data.tail(10)

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
4167,M,0.500,0.380,0.125,0.5770,0.2690,0.1265,0.1535,9
4168,F,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765,8
4169,M,0.520,0.385,0.165,0.7910,0.3750,0.1800,0.1815,10
4170,M,0.550,0.430,0.130,0.8395,0.3155,0.1955,0.2405,10
4171,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [44]:
#give brief description about the dataset it won't show any description of categorical data
data.describe()

,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [45]:
#describe datatype of each column
data.dtypes

Sex                object
Length            float64
Diameter          float64
Height            float64
Whole_weight      float64
Sucked_weight     float64
Viscera_weight    float64
Shell_weight      float64
Rings               int64
dtype: object

In [46]:
#access column its an series data "Modin Pandas Series"
data['Height']

0       0.095
1       0.090
2       0.135
3       0.125
4       0.080
        ...
4172    0.165
4173    0.135
4174    0.205
4175    0.150
4176    0.195
Name: Height, Length: 4177, dtype: float64

In [47]:
#access multiple row
data[['Length','Height']]

      Length  Height
0      0.455   0.095
1      0.350   0.090
2      0.530   0.135
3      0.440   0.125
4      0.330   0.080
...      ...     ...
4172   0.565   0.165
4173   0.590   0.135
4174   0.600   0.205
4175   0.625   0.150
4176   0.710   0.195

[4177 rows x 2 columns]

In [48]:
#Access Column using iloc which uses indexes
data.iloc[0]

Sex                    M
Length             0.455
Diameter           0.365
Height             0.095
Whole_weight       0.514
Sucked_weight     0.2245
Viscera_weight     0.101
Shell_weight        0.15
Rings                 15
Name: 0, dtype: object

In [49]:
#Access multiple Column using iloc which uses indexes
data.iloc[[0,1,2,3]]

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10

In [50]:
#Access only those column which are of object data type
obj_cols = data.dtypes[data.dtypes=="object"].index
data[obj_cols].head()

  Sex
0   M
1   M
2   F
3   M
4   I

In [51]:
#Describe categorical data
data[obj_cols].describe()

         Sex
count   4177
unique     3
top        M
freq    1528

In [52]:
#Categorical method 
pd.Categorical(data['Sex'])

[M, M, F, M, I, ..., F, M, M, F, M]
Length: 4177
Categories (3, object): [F, I, M]

In [53]:
#unique method shows unique values in a column
data['Height'].unique()

array([0.095, 0.09 , 0.135, 0.125, 0.08 , 0.15 , 0.14 , 0.11 , 0.145,
       0.1  , 0.13 , 0.085, 0.155, 0.165, 0.185, 0.18 , 0.175, 0.2  ,
       0.105, 0.045, 0.055, 0.05 , 0.12 , 0.07 , 0.16 , 0.06 , 0.17 ,
       0.195, 0.19 , 0.115, 0.075, 0.065, 0.215, 0.21 , 0.23 , 0.205,
       0.22 , 0.04 , 0.01 , 0.03 , 0.035, 0.225, 0.24 , 0.235, 0.02 ,
       0.025, 0.015, 0.   , 0.515, 0.25 , 1.13 ])

In [54]:
#sort a single Column by default it will sourt in ascending order if reverse is true then it will sort data in descending order
#Ascending Order
sorted(data['Height'])

[0.0,
 0.0,
 0.01,
 0.015,
 0.015,
 0.02,
 0.02,
 0.025,
 0.025,
 0.025,
 0.025,
 0.025,
 0.03,
 0.03,
 0.03,
 0.03,
 0.03,
 0.03,
 0.035,
 0.035,
 0.035,
 0.035,
 0.035,
 0.035,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.04,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.045,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.05,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.055,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.06,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.065,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.075,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.08,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.085,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.09,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.095,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.105,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 0.11,
 ...]

In [55]:
#Descending Order
sorted(data['Height'],reverse=True)

[1.13,
 0.515,
 0.25,
 0.25,
 0.25,
 0.24,
 0.24,
 0.24,
 0.24,
 0.235,
 0.235,
 0.235,
 0.235,
 0.235,
 0.235,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.23,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.225,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.22,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.215,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.21,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.205,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.195,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.19,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.185,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.18,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.175,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 0.17,
 ...]

In [56]:
#Changing the index
#setting sex as an index to make the changes permanent you need to keep inplace=True
data.set_index('Sex')

,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
Sex,,,,,,,,
M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...
F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [57]:
data.head()

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [58]:
#extracting only column 2 and 3 using loc
data.loc[[2,3]]

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
2,F,0.53,0.420,0.135,0.677,0.2565,0.1415,0.210,9
3,M,0.44,0.365,0.125,0.516,0.2155,0.1140,0.155,10

In [59]:
#extracting only column 2 and 3 using iloc which takes only deafult index ie only integer values will be the input
data.iloc[[2,3]]

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
2,F,0.53,0.420,0.135,0.677,0.2565,0.1415,0.210,9
3,M,0.44,0.365,0.125,0.516,0.2155,0.1140,0.155,10

In [60]:
#Finding null values in the dataset
data.isnull()

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
4172,False,False,False,False,False,False,False,False,False
4173,False,False,False,False,False,False,False,False,False
4174,False,False,False,False,False,False,False,False,False
4175,False,False,False,False,False,False,False,False,False
4176,False,False,False,False,False,False,False,False,False

In [61]:
#extracting values of columns Whole_weight, Sucked_weight from row 2 and 3 using loc
data.loc[[2,3],['Whole_weight','Sucked_weight']]

   Whole_weight  Sucked_weight
2         0.677         0.2565
3         0.516         0.2155

In [62]:
#median of just Viscera_weight column
data['Viscera_weight'].median()

0.171

In [63]:
#sum of just Viscera_weight column
data['Viscera_weight'].sum()

754.3395

In [64]:
#Standard Deviation of just Viscera_weight column
data['Viscera_weight'].std()

0.10961425025968446

In [65]:
#Changing type of column
data['Rings'] = data['Rings'].astype('float64')

In [66]:
#Creating new column
data['New_col'] = data['Rings'] + data['Height']
data.head()

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings,New_col
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15.0,15.095
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7.0,7.090
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9.0,9.135
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10.0,10.125
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.0,7.080

In [67]:
#Dropping Column axis = 1 for columns and axis = 0 for rows by default it is axis = 0 to permanently remove it add inplace=True
data.drop('New_col',axis=1,inplace=True)

In [68]:
data.head()

,Sex,Length,Diameter,Height,Whole_weight,Sucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15.0
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7.0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9.0
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10.0
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7.0

In [69]:
#groupby the data 

data_grpby = data.groupby('Sex').describe()
data_grpby

     Length                                                       Diameter  \
      count      mean       std    min    25%    50%   75%    max    count
Sex
F    1307.0  0.579093  0.086160  0.275  0.525  0.590  0.64  0.815   1307.0
I    1342.0  0.427746  0.108858  0.075  0.360  0.435  0.51  0.725   1342.0
M    1528.0  0.561391  0.102697  0.155  0.505  0.580  0.63  0.780   1528.0

               ... Shell_weight          Rings                                 \
         mean  ...          75%    max   count       mean       std  min  25%
Sex            ...
F    0.454732  ...       0.3750  1.005  1307.0  11.129304  3.104256  5.0  9.0
I    0.326494  ...       0.1785  0.655  1342.0   7.890462  2.511554  1.0  6.0
M    0.439287  ...       0.3555  0.897  1528.0  10.705497  3.026349  3.0  9.0


      50%   75%   max
Sex
F    10.0  12.0  29.0
I     8.0   9.0  21.0
M    10.0  12.0  27.0

[3 rows x 64 columns]

In [70]:
#access count value within length column ie column with  column of male row
data_grpby['Length']['count'].iloc[2]

1528.0

In [74]:
#apply() function to apply a function on dataset it won't be permanently changed
data['Rings'].apply(lambda x: x*10)

0       150.0
1        70.0
2        90.0
3       100.0
4        70.0
        ...
4172    110.0
4173    100.0
4174     90.0
4175    100.0
4176    120.0
Name: Rings, Length: 4177, dtype: float64